body {
    /*background-image: url("../images/fond_rose.png");*/
    /*background-image: url("../images/clouds/cloud-background.png");*/
    background-image: url("../images/background_grass_sky.jpg ");
    background-size: cover;
    background-attachment: fixed;
    background-position: initial;
    margin: 0;
    padding: 0;
}

#container-initial {
    display: flex;
    background-image: url("../images/background_grass_sky.jpg ");
    background-size: cover;
    background-attachment: fixed;
    background-position: initial;
    margin: 0;
    padding: 0;
}


#body-initial h1 {
    font-family: 'Mali', cursive;
    /*font-family: 'Inconsolata', monospace;*/
    line-height: 1.5;
}
form #joke {
    font-family: 'Mali', cursive;
}

.choice-list {
    display: block;
    /*position: absolute;
    top: 88%;
    left: 20%;
    right: 20%;
    text-align: center;*/
}

.choice-list ul {
    display: inline-block;
    /*padding:0;
    padding-right: 4%;*/
}

.choice-list ul a {
    /*background: lightgrey;
    border-radius: 1em;
    height: 4em;*/
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    padding: 1em;
    transition-duration: 0.4s;
    text-decoration: none;
    color: #4CAF50;
}

/*.choice-list ul a:hover {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

.choice-list ul a:focus {
    outline:none
}*/

/* --------------------------------- */

.btn {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6rem;
}

.joke-button-back {
    background-color: #8ec03c;
    color: black;
}

.joke-button-edit {
    background-color: lightcoral;
    color: black;
}

.joke-button-see {
    background-color: cadetblue;
    color: black;
}

.joke-button-add {
    background-color: #8ec03c;
    color: black;
    margin-bottom: 2rem;
}

#joke-show-container {
    background-color: white;
    padding: 3rem;
    border-style: dashed;
}

#joke-update-container {
    background-color: #57bfff;
    padding: 3rem;
    border-style: dashed;
}

.joke-show-buttons {
    display: inline-flex;
}


