{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <li class="choice-list">
        <ul>
            <a href="{{ path('joke_new') }}">
                <img src="{{ asset('../assets/images/clouds/cloud1.png') }}" border="0" width="200" alt="Logo Agrijoke">Déposer une Joke</a>
        </ul>

        <ul>
            <a href="{{ path('joke_index') }}">
                <img src="{{ asset('../assets/images/clouds/cloud2.png') }}" border="0" width="200" alt="Logo Agrijoke">Les Jokes</a>

        </ul>
    </li>

{% endblock %}
