<form method="post" action="{{ path('joke_delete', {'id': joke.id}) }}" onsubmit="return confirm('Tu veux vraiment supprimer cette super blague ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joke.id) }}">
    <button class="btn">Supprimer</button>
</form>
